
h1 {
  text-align: center;
  color: darkorange;
  font-style: oblique;
}

body {
  background-color: #c2c2d6;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  background-color: #4d4d4d;
  height: 70px;
  width: 80vw;
  margin: 0 auto;
}

.container div, .container button {
  border: 1px solid darkorange;
  flex-basis: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

#display {
  flex-basis: 150px;
}